# SERVICES
KIE_TOKEN=1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o
OPENAI_API_KEY=sk-TOKEN
OPENAI_MODEL=gpt-5-nano

# ЯНДЕКС CLOUDS
YC_FOLDER_ID=1qwe2r3tyy5i3y
YC_API_KEY=AbcDeF-GHijkLmnOpQrstuv_WxYz
YC_S3_ACCESS_KEY_ID=AbcDeFGHijkLmnOpQrstuvWxYz-ghsdhjgf
YC_S3_SECRET_ACCESS_KEY=AbcDeFGHijkLmnOpQrstuvWxYzdsfefdf
YC_S3_ENDPOINT_URL=https://storage.yandexcloud.net

# TELEGRAM
BOT_TOKEN=123456789078:AbcDeFGHijkLmnOpQrstuvWxYz
WEBHOOK_ENDPOINT=https://localhost/bot
BOT_API_TOKEN=1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o
TEST_PAYMENT_TOKEN=12345678:TEST:1234567

# БАЗА ДЫННЫХ
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_NAME=name
POSTGRES_USER=user
POSTGRES_PASS=password

BASE_URL=http://localhost
CALLBACK_PATH=path/to/callback
SUPPORT_USERNAME=username

# REDIS
REDIS_URL=redis://localhost:6379
