BOT_TOKEN=12816288:KhGHGGUiuyY89UhkJH89uh
KIE_TOKEN=lj456jh45j64k5oty

YC_FOLDER_ID=example
YC_API_KEY=ExAmPle

YC_S3_ACCESS_KEY_ID=ExAmPle
YC_S3_SECRET_ACCESS_KEY=ExAmPle
YC_S3_ENDPOINT_URL=https://google.com/